<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cinealdia.Properties.Settings.PROVINCIASConnectionString"
            connectionString="server=localhost;user id=omar;database=cinealdia"
            providerName="MySql.Data.MySqlClient" />
        <add name="Cinealdia.Properties.Settings.proviConnectionString"
            connectionString="server=localhost;user id=omar;password=1234;database=cinealdia"
            providerName="MySql.Data.MySqlClient" />
        <add name="Cinealdia.Properties.Settings._5tueH5qnuVConnectionString"
            connectionString="server=remotemysql.com;user id=5tueH5qnuV;password=d4mBVI8YSx;database=5tueH5qnuV"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>